.colimg{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.extrait{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
